Добро пожаловать!
= link_to 'Информационные системы', information_systems_path
= link_to 'Характеристики', characteristics_path
= link_to 'Адреса', addresses_path
= link_to 'Характеристика-значение', characteristic_values_path
= link_to 'Части характеристики', part_of_characteristics_path
= link_to 'Люди', people_path
= link_to 'Веса', weights_path
= link_to 'parse',lfj_path
