.sidebar-left
  %ul
    %li
      = link_to 'Информационные системы', information_systems_path
    %li
      = link_to 'Характеристики', characteristics_path
    %li
      = link_to 'Адреса', addresses_path
    %li
      = link_to 'Характеристика-значение', characteristic_values_path
    %li
      = link_to 'Части характеристики', part_of_characteristics_path
    %li
      = link_to 'Люди', people_path
    %li
      = link_to 'Веса', weights_path
.sidebar-right
  %ul
    %li
      = link_to 'Информационные системы', information_systems_path
    %li
      = link_to 'Характеристики', characteristics_path
    %li
      = link_to 'Адреса', addresses_path
    %li
      = link_to 'Характеристика-значение', characteristic_values_path
    %li
      = link_to 'Части характеристики', part_of_characteristics_path
    %li
      = link_to 'Люди', people_path
    %li
      = link_to 'Веса', weights_path
